<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.yto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MainApp" >

         <activity  android:name=".ui.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>

        <activity android:name=".ui.DispatchOrderList"
            android:label="@string/title_dispatch_order_list">

        </activity>

        <activity android:name=".ui.SignScanActivity">

        </activity>

        <activity android:name=".ui.EmergencyDeliveryListActivity"
            android:label="@string/title_emergency_delivery">
        </activity>
        
        <activity android:name=".ui.SignDeleteActivity"
             android:label="@string/title_delete_sign" >
         </activity>
         
         <activity android:name=".ui.SignBatchActivity"
             android:label="@string/title_batch_sign" >
         </activity>

         <activity android:name=".ui.DispatchMain"
            android:label="@string/title_dispatch_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ExceptionalRecordUpload"
            android:label="@string/title_exceptional_record_upload">
        </activity>

        <activity android:name=".ui.AdditionalSignPersonInfo"
            android:label="@string/title_additional_sign_person_info">
        </activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
</manifest>
