<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.yto"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.AppContext"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:icon="@drawable/title"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AssistantActivity"
            android:label="@string/my_assitant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ReceiveMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.OrderTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ReceiveNoOrderTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- ViewPager -->
        <activity
            android:name=".ui.ReceiveExpressPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="cn.net.yto.ACTION_ADD_RECEIVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.net.yto.ACTION_EDIT_RECEIVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReceiveNoOrderUnusualActivity" />
        
        
        <activity
            android:name=".ui.ReceiveWayBillTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ReceiveViewTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ReceiveBatchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.QuickPayActivity"
            android:label="@string/quick_pay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver android:name=".receiver.DownloadOrderReceiver" >
            <intent-filter>
                <action android:name="cn.net.yto.ACTION_RECEIVER_DOWNLOAD_ORDER"/>
            </intent-filter>
        </receiver>
        
         <receiver android:name=".receiver.BackgroudNetAlarmReceiver">
            <intent-filter>
                <action android:name="cn.net.yto.ACTION_RECEIVER_BACKGROUND_NET"/>
            </intent-filter>
        </receiver>
        
        <service android:name=".service.DownloadOrderIntentService" />
        <service android:name=".service.BackgroundNetIntentService" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.DispatchOrderList"
            android:label="@string/title_dispatch_order_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SignScanActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.EmergencyDeliveryListActivity"
            android:label="@string/title_emergency_delivery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SignDeleteActivity"
            android:label="@string/title_delete_sign"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SignBatchActivity"
            android:label="@string/title_batch_sign"
            android:screenOrientation="portrait" >
        </activity>
        
        <!--
        <activity android:name=".ui.SignOutActivity" />
        -->
         <activity android:name=".ui.DispatchMain"
            android:label="@string/title_dispatch_main">
           <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
              -->
        </activity>
        <activity
            android:name=".ui.ExceptionalRecordUpload"
            android:label="@string/title_exceptional_record_upload"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AdditionalSignPersonInfo"
            android:label="@string/title_additional_sign_person_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ReceiveReplaceActivity"
            android:screenOrientation="portrait" />

        <!-- <activity android:name=".ui.SignOutActivity" /> -->

        <activity
            android:name=".ui.ExpiredDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignEmergencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.net.yto.ui.ExpressTrackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.net.yto.ui.ExpressStatisticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MessageQueryMainActivity"
            android:label="@string/title_message_query"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DownloadBasicDataActivity"
            android:label="@string/data_download"
            android:screenOrientation="portrait" />
    </application>

</manifest>

